@font-face {
    font-family: 'ProximaNovaBold';
    src: url('./ProximaNovaBold.eot');
    src: url('./ProximaNovaBold.eot') format('embedded-opentype'),
         url('./ProximaNovaBold.woff2') format('woff2'),
         url('./ProximaNovaBold.woff') format('woff'),
         url('./ProximaNovaBold.ttf') format('truetype'),
         url('./ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('./ProximaNovaRegular.eot');
    src: url('./ProximaNovaRegular.eot') format('embedded-opentype'),
         url('./ProximaNovaRegular.woff2') format('woff2'),
         url('./ProximaNovaRegular.woff') format('woff'),
         url('./ProximaNovaRegular.ttf') format('truetype'),
         url('./ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
}
