/*Khai báo biến và sử dụng trong sass*/
   /*
       $color-text :  #F44336;
   div{
       background-color: $color-text
    }
        */
/*Cú pháp mixin - Khá giống cấu trúc lập trình*/
    /*Khai báo khối square có các thuộc tính trong (' '), và gọi lại các biến để style
    @mixin square($size, $color) {
      width: $size;
      height: $size;
      background-color: $color;
    }
 
    .small-blue-square {
       @include square(20px, rgb(0,0,255));
    }
 
    .big-red-square {
       @include square(300px, rgb(255,0,0));
    }*/
/*Extend - kế thừa thuộc tính - thường dùng cho các element có cấu trúc giống nhau nhưng nội dung khác nhau*/
/* Ví dụ : */

/* .dialog-button {
      box-sizing: border-box;
      color: #ffffff;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      padding: 12px 40px;
      cursor: pointer;
    }
    /*Cả 2 button confirm và cancel đều có màu chữ giống nhau nhưng khác về màu nền*/
  
     /* .confirm {
       @extend .dialog-button;
      background-color: #87bae1;
      float: left;
    }
 
    .cancel {
      @extend .dialog-button;
      background-color: #e4749e;
      float: right;
    }


/*NESTTING - CÚ PHÁP LỒNG KHÁC LESS Ở PHẦN ĐÓNG NGOẶC, THEO ĐÚNG THỨ TỰ CHA-CON phân theo cụm rõ rệt*/
/*FUNCTION - KHÁ GIỐNG LESS, KHAI BÁO BIẾN VÀ TÁI SỬ DỤNG LIÊN QUAN CÁC PHÉP TÍNH*/
/*Color for the web*/
    
/*Color & font for the web*/

