/*@color : yellow;//khai báo biến bên LESS
@color-text : black;
.border-style{
    border: 1px dashed red;
}

@div-width : 1200px;
//Cú pháp mixin
.menu{
    background-color: @color;
    .border-style;
    padding:0;
    margin:0;
    //Cú pháp lồng - nesting and scope
    p{
        background-color: @color;
        font-size: 20px;
        color: @color-text;

        //Cú pháp operation - toán tử
        width: @div-width - 300px;
    }
}*/

/*Color for the web*/

@color-grey: #989798;
@color-grey-2 : #919191;

@color-transparent : #d0d0d0;
@color-white : #FFFFFF;
@color-cream :  #bea67c;
@color-cream-2 : #a9946e;
@color-brown: #373125;
@color-black : #010101;
@color-black-2 : #000000;

@color-grey-3 : #464646;
@color-grey-4: #7d7d7d;

/*Font for the body*/
body{
    width: 100%;
}
.font-proxima-bold-15 {
    font-family: 'ProximaNovaBold',sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
}
.font-proxima-bold-36{
    font-family: 'ProximaNovaBold',sans-serif;
    font-size: 36px;
    letter-spacing: 12px;
}
.font-proxima-bold-30dot06{
    font-family: 'ProximaNovaBold',sans-serif;
    font-size: 30.06px;
    letter-spacing: 12px;
}
.font-proxima-bold-52dot4{
    font-family: 'ProximaNovaBold',sans-serif;
    font-size: 52.4px;
    letter-spacing: 5px;
}
.font-proxima-bold-100{
    font-family: 'ProximaNovaBold',sans-serif;
    font-size: 100px;
    letter-spacing: 20px;
}

/*-------------------------------------BODY-------------------------------*/
a,a:hover,a:focus{
    text-decoration: none;
}
/*HEADER*/
.custom-header{
    padding: 0;
    margin: 0;
    background-image: url('../images/background.png');
    background-size: cover;
    position: relative;
    background-position-x: center;
    height: 1042px;
}
.menu{
    margin-top: 30px;
}

/*Inline-block-style*/
.inline-block-style{
    display: inline-block;
}
.logo,.list-menu{
    .inline-block-style;
}
.logo {
    span{
        color: @color-white;
    }
    
.dash-logo {
    width: 66px;
    position: absolute;
    transform: translate(-59%,582%);
    height: 4px;
    background-color: @color-cream;
}
}
ul li{
    list-style-type: none;
}

.list-menu{
    margin-left: 15px;
    vertical-align: super;
    ul>li{
        .font-proxima-bold-15;
        font-weight: 500 !important;
        .inline-block-style;
    }

    ul>li>a{
        .font-proxima-bold-15;
        color:@color-grey;
        
    }
    ul>li:first-child>a{
        margin-right: 120px;
        margin-left: 50px;
    }
    ul>li:nth-child(2)>a{
        margin-right: 95px;
    }
   
    
}
.background-height-cover{
    background-size: cover;
    height: 1042px;
}

/*Info and language at header*/
.info-and-language{
    .inline-block-style;
    vertical-align: text-bottom;
    margin-left: 10%;
}

.language-display{
    border:none;
    background: transparent;
    margin-left: 20px;
    option{
        background: transparent;
        color: inherit;
    }
}
.custom-angle{
    color:@color-white;
}

/*Toggle-Menu*/
.toggle-menu{
    .font-proxima-bold-15;
    position: relative;
    margin-top: 40px;
    span{
        background: @color-cream;
        height: 1px;
        width: 33px;
        position: absolute;
     
    }
    span:nth-child(1){
        top:0px;
    }
    span:nth-child(2){
        top : 9px;
    }
    span:nth-child(3){
        top : 18px;
    }
    .toggle-menu-name{
        margin-left:40px;
        color: @color-grey;
    }
}
/*Middle of header*/
.middle-header{
    margin-top: 300px;
    .logo-and-learn-more{
        width: 70%;
        .inline-block-style;
    }

    #btn-learn-more{
        background: transparent;
        font-family: 'ProximaNovaBold',sans-serif;
        font-size: 13.99px;
        width: 306px;
        height: 58px;
        margin: 0 70px;
        color: @color-white;
        border: 2px solid white;
        letter-spacing: 3px;
    }
   button>a{
       margin-right: 7px;
       color: #FFFFFF;
      
   }
}
.logo-and-learn-more span{
    .font-proxima-bold-100;
    color:@color-cream;
    margin : 0 70px;
}
.track{
    position: relative;
    h2{
    position : absolute;
    top: 470px;
    left: 50px;
    color: @color-cream;
    .font-proxima-bold-52dot4;
    transform: rotate(90deg);
    }
    .dash-track{
        background-color: @color-cream;
        width: 50px;
        height: 4px;
        position: absolute;
        transform: translate(-130%,600%);
    }
    ul {
        position: absolute;
        left: 75px;
        top: 600px;
    }
    .dot{
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin-bottom: 40px;
        background-color: @color-grey;
    }
    ul>li>a:hover{
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin-bottom: 40px;
        background-color: @color-cream;
    }
}
.page-title{
    float: right;
    width: 30%;
    p{
        color: @color-brown;
        font-size: 13.63px;
        margin-top: 200px;
        font-family: 'ProximaNovaBold',sans-serif;
        transform: rotate(90deg);
        
    }
    
}
/*End of header*/
.end-of-header-1{
    margin: 0 70px;
    img{
        display: block;
    }
    img:first-child{
        margin-top: 65px;
        margin-bottom: 15px;
    }
    img:nth-child(2){
       margin-left: 3px;
    }

    span{
            width: auto;
            height: inherit;
            transform: rotate(90deg);
            display: inline-block;
            margin-top: 46px;
            font-family: 'ProximaNovaBold',sans-serif;
            font-size: 13.99px;
            margin-left: -30px;
            letter-spacing: 4px;
        
    }
}

.end-of-header-2{
    float: right;
    margin-top: 175px;
    span{
        width: 51px;
        height: 4px;
        background-color: #bea67c;
        transform: rotate(90deg);
        position: absolute;
        left: 800px;
        margin-top: 35px;
    }
}

/*BODY - FURNITURE SECTION*/

.funiture-left{
    padding-left: 230px;
    margin-top: 210px;
  

    p:first-child{
        font-family: 'ProximaNovaBold',sans-serif; 
        font-size: 48px;
       font-weight: 500 !important;
    }
    p:first-child span{
        height: 1px;
        width: 151px;
        position: absolute;
        background-color:@color-black;
        left: 50px;
        top: 28px;
    }
    p:nth-child(2){
        font-family: 'ProximaNovaRegular',sans-serif;
        font-size: 15px;
        font-weight: 100;
    }
    p:nth-child(2) span{
        position: absolute;
        background-color: @color-cream;
        width: 44px;
        height: 4px;
        left: 155px;
        top: 85px;
    }
    a{
        font-family: 'ProximaNovaBold',sans-serif; 
        font-size: 14px;
        font-weight: bold;
        color: @color-black-2;
        letter-spacing: 4px;
    }
    a span{
        width: 44px;
        height: 2px;
        position: absolute;
        background-color: @color-cream;
        left: 230px;
        top: 175px;
    }
    span{
      font-size: 36px;
      font-family: 'ProximaNovaBold',sans-serif; 
      position: absolute;
      top: 240px;
      left: 55px;
      letter-spacing: 5px;

    }
    #section-furniture-01-dot{
        font-size: 36px;
        color: @color-cream;
        top: 0px;
        left: 45px;
        font-family: 'ProximaNovaBold',sans-serif; 
        position: absolute;
    }
}
/*Transparent for title of the sections*/
.section-tran-title{
    font-family: 'ProximaNovaBold', sans-serif;
    font-size: 169.38px;
    font-weight: 500 !important;
    color: @color-transparent;
    opacity: 0.2;
    z-index: 1;
    position: absolute;
}
.furniture-right{
    margin-top: 90px;
   span{
       .section-tran-title;
       top: -40px;
       left: -50px;
    }
}
/*DECOR SECTION*/
.decor-section{
    margin-top: 105px;
    margin-bottom: 65px;
}
.decor-left{
  
    span:first-child{
        width: 51px;
        height: 4px;
        transform: rotate(90deg);
        background-color: @color-cream;
        position: absolute;
        left: 55px;
        top: 8px;
    }
    span:last-child{
        .section-tran-title;
        top: 220px;
        letter-spacing: 25px;
        left: -265px;
        position: absolute;
      }
}

#decor-image{
    margin-top: 127px;
    margin-left: 35px;
}

.decor-right{
    margin-top: 250px;
    padding-left: 120px;
    p:first-child{
        font-family: 'ProximaNovaBold',sans-serif; 
        font-size: 48px;
       font-weight: 500 !important;
       text-align: right;
       width: 279px;
    }
    p:first-child span{
        height: 1px;
        width: 151px;
        position: absolute;
        background-color:@color-black;
        left: 440px;
        top: 28px;
    }

    p:nth-child(2){
        font-family: 'ProximaNovaRegular',sans-serif;
        font-size: 15px;
        font-weight: 100;
        text-align: right;
        width: 279px;
    }

    p:nth-child(2) span{
        position: absolute;
        background-color: @color-cream;
        width: 44px;
        height: 4px;
        left: 440px;
        top: 85px;
    }
    a{
        font-family: 'ProximaNovaBold',sans-serif; 
        font-size: 14px;
        font-weight: bold;
        color: @color-black-2;
        letter-spacing: 4px;
        position: absolute;
        left: 235px;
    }
    a span{
        width: 44px;
        height: 2px;
        position: absolute;
        background-color: @color-cream;
        left: 0px;
        top: 20px;
    }
    span{
        font-size: 36px;
        font-family: 'ProximaNovaBold',sans-serif; 
        position: absolute;
        top: 240px;
        right: -50px;
        letter-spacing: 5px;
  
      }
    
    #section-decor-02-dot{
        font-size: 36px;
        color: @color-cream;
        top: 0px;
        left: 52px;
        font-family: 'ProximaNovaBold',sans-serif; 
        position: absolute;
    }
}

/*QUALITY SECTION*/
.quality{
    margin-bottom: 155px;
    span:first-child{
        width: 51px;
        height: 4px;
        transform: rotate(90deg);
        background-color: #bea67c;
        position: absolute;
        right: -50px;
        top: 8px;
    }
    p:nth-child(2){
        font-size: 48px;
        font-family: 'ProximaNovaBold',sans-serif; 
        color: @color-black-2;
        text-transform: uppercase;
        margin-top: 165px;
    }
    #wooder-quality-dash{
        width: 44px;
        height: 4px;
        background-color: @color-cream;
        position: absolute;
        transform: none;
        top: 245px;
        left: 560px;
    }
    p:nth-child(3){
        font-family: 'ProximaNovaRegular',sans-serif;
        font-size: 15px;
        font-weight: 100;
        line-height: 25.3px;
        margin-top: 25px;
        margin-bottom: 95px;
    }
    .quality-section-button-play{
        width: 68px;
        height: 68px;
        border-radius: 50px;
        background-color: @color-cream;
        position: absolute;
        top: 90px;
        left: 155px;
        opacity: 0.8;
    }
    .quality-section-button-play i{
        color: #FFFFFF;
        font-size: 25px;
        margin-top: 24px;
        margin-left: 10px;
    }
    .quality-section-image-dash{
        width: 25px;
        height: 1px;
        background-color: #bea67c;
        position: absolute;
        top: 250px;
        left: 180px;
        margin-top: 25px;
    }
   label{
    font-weight: normal;
    font-family: 'ProximaNovaRegular', sans-serif;
    margin-top: 55px;
    font-size: 16px;
    text-align: center;
   }

}

.hover-effect a {
    overflow: hidden;
    display: block;
}

.hover-effect a img {
    transition: all 0.3s ease;
}

.hover-effect a:hover img, .hover-effect a:focus img {
    transform: scale(1.1);
}
/*COMPLEXITY SECTION*/
.complexity{
    background-image: url('../images/complexbackground.png');
    background-size: cover;
}
.complex-contain{
    margin : 90px 30px;
    border:1px solid @color-cream;

    span:nth-child(1){
        width: 151px;
        height: 1px;
        background-color: @color-white;
        position: absolute;
        top: 320px;
        left: 170px;
    }
    p:nth-child(2){
        font-size: 48px;
        color: @color-cream;
        font-family: 'ProximaNovaBold',sans-serif; 
        text-transform: uppercase;
        margin-top: 195px;
        margin-left: 300px;
        padding-right: 145px;
        margin-right: 270px;
    
    }
    span:nth-child(3){
        width: 44px;
        height: 4px;
        background-color: #bea67c;
        position: absolute;
        top: 470px;
        left: 275px;
    }
    p:nth-child(4){
        font-size: 15px;
        color: @color-white;
        font-family: 'ProximaNovaRegular',sans-serif;
        margin-left: 300px;
        margin-right: 270px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-right: 275px;

    }
    #watch-video {
        margin-left: 300px;
        margin-right: 270px;
        margin-bottom: 183px;
        width: 305px;
        height: 56px;
        border: 2px solid #FFFFFF;
        background-color: transparent;
      }
      #watch-video img{
          margin: 15px 0px;
      }
      #watch-video a{
        font-family: 'ProximaNovaBold',sans-serif; 
        font-size: 14px;
        font-weight: bold;
        color: @color-white;
        letter-spacing: 4px;
        margin: 25px 0px 25px 15px;
      
      }
      #play-background{
        position: absolute;
        top: 40px;
        left: 465px;
      }
      span:last-child{
        width: 151px;
        height: 1px;
        position: absolute;
        top: 470px;
        right: 70px;
        background-color: @color-white;
        transform: rotate(90deg);
      }
}

/*ABOUT US*/
.about-us{
    margin-top: 140px;
    margin-bottom: 125px;
}
.about-left{
    span:first-child{
        .section-tran-title;
        top: 80px;
        width: 850px;
        left: -385px;
       
    }
}
.about-right{
    margin-top: 105px;

    span:first-child{
        width: 151px;
        height: 1px;
        background-color: @color-black-2;
        position:  absolute;
        left: -140px;
        top:30px;
    }
    p:nth-child(2){
     font-family: 'ProximaNovaBold',sans-serif; 
     font-size: 48px;
       font-weight: 500 !important;
       text-align: left;
       margin-left: 29px;
       width: 279px;
    }
    span:nth-child(3){
        width: 44px;
        height: 4px;
        background-color: @color-cream;
        position: absolute;
        left:-30px;
    }
    p:nth-child(4){
        text-align: left;
        margin-left: 29px;
        font-family: 'ProximaNovaRegular',sans-serif;
        font-size: 15px;
        word-spacing: 5px;
        font-weight: 100;
        padding-right: 55px;
        
    }
    a{
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 14px;
        font-weight: bold;
        color:@color-black-2;
        letter-spacing: 4px;
        position: absolute;
        left: 45px;
        margin-top: 20px;
    }
    a span{
        width: 44px;
        height: 2px;
        position: absolute;
        background-color: @color-cream;
        left: 0px;
        top: 20px;
    }
}
/*Footer*/
footer{
    background-image: url('../images/footer-img.png');
    background-size: cover;
    height: 68px;
}
.copy-right{
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
}
.logo-footer{
   .inline-block-style;
   margin-top: 12px;
   padding-bottom: 12px;

   .spantext{
        margin-left: 100px;
        color: @color-white;
    }
    
    .dash-logo-footer{
        width: 53px;
        position: absolute;
        transform: translate(-59%, 620%);
        height: 3px;
        background-color: @color-cream;
    }
}
.author{
    margin-top: 12px;
    padding-top: 12px;
    padding-left: 100px;
    .design-caption{
        font-family: 'ProximaNovaRegular',sans-serif;
        font-size: 15px;
        font-weight: 100;
        color : @color-grey-3;
    }
    .author-name{
        font-family: 'ProximaNovaRegular',sans-serif;
        font-size: 15px;
        font-weight: bold;
        color : @color-grey-4;
    }
}
/*-----------------------------------RESPONSIVE----------------------------------*/
@media(min-width:1920px) {
    /*HEADER*/
    .logo
{

    margin-left: 200px;
}

.list-menu {
    margin-left: 40px;
    vertical-align: super;
}

.info-and-language {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 24%;
}

.middle-header {
    margin-top: 300px;
    margin-left: 200px;
}

.end-of-header-1 {
    margin-left: 265PX;
  
}
.page-title p {
    color: #373125;
    font-size: 13.63px;
    margin-left: -370px;
    margin-top: 401px;
    font-family: 'ProximaNovaBold', sans-serif;
    transform: rotate(90deg);
}
.end-of-header-2 span {
    width: 51px;
    height: 4px;
    background-color: #bea67c;
    transform: rotate(90deg);
    position: absolute;
    left: 1010px;
    margin-top: 35px;
}
/*FURNITURE SECTION*/
.furniture-right span {
    font-family: 'ProximaNovaBold', sans-serif;
    font-size: 169.38px;
    font-weight: 500 !important;
    color: #d0d0d0;
    opacity: 0.2;
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 225px;
}
/*DECOR SECTION*/
.decor-left span:last-child {
    font-family: 'ProximaNovaBold', sans-serif;
    font-size: 169.38px;
    font-weight: 500 !important;
    color: #d0d0d0;
    opacity: 0.2;
    z-index: 1;
    top: 220px;
    letter-spacing: 25px;
    left: -360px;
    position: absolute;
}
/*COMPLEXITY SECTION*/
.complex-contain {
    margin: 90px 180px;
    border: 1px solid #bea67c;
}

.complex-contain span:nth-child(1) {
    width: 151px;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    top: 320px;
    left: 390px;
}
.complex-contain p:nth-child(2) {
    font-size: 48px;
    color: #bea67c;
    font-family: 'ProximaNovaBold', sans-serif;
    text-transform: uppercase;
    margin-top: 195px;
    margin-left: 395px;
    padding-right: 300px;
    margin-right: 270px;
}
.complex-contain span:nth-child(3) {
    width: 44px;
    height: 4px;
    background-color: #bea67c;
    position: absolute;
    top: 470px;
    left: 490px;
}
.complex-contain p:nth-child(4) {
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'ProximaNovaRegular', sans-serif;
    margin-left: 390px;
    margin-right: 270px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 435px;
}
.complex-contain #watch-video {
    margin-right: 270px;
    margin-left: 390px;
    margin-bottom: 183px;
    width: 305px;
    height: 56px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
}
.complex-contain span:last-child {
    width: 151px;
    height: 1px;
    position: absolute;
    top: 470px;
    right: 260px;
    background-color: #FFFFFF;
    transform: rotate(90deg);
}
.complex-contain #play-background {
    position: absolute;
    top: 40px;
    left: 965px;
}
/*about us*/
.about-left span:first-child {
    font-family: 'ProximaNovaBold', sans-serif;
    font-size: 169.38px;
    font-weight: 500 !important;
    color: #d0d0d0;
    opacity: 0.2;
    z-index: 1;
    position: absolute;
    top: 80px;
    width: 850px;
    left: -450px;
}
}

@media(max-width:1680px) {}

@media(max-width:1600px) {}

@media(max-width:1440px) {


}


@media(max-width:2560px) {
    

}

@media(max-width:2560px) {

   
}

@media(max-width:1440px) {

    
}
@media(max-width:1280px) {
  
}

@media(max-width:1024px) {

   

}

@media(max-width:900px) {
    [class*="col-"] {
        width: 100%;
    }
  
}

@media(max-width:768px) {
    [class*="col-"] {
        width: 100%;
    }
  
}

@media(max-width:676px) {
    [class*="col-"] {
        width: 100%;
    }
 
}

@media(max-width:640px) {
    [class*="col-"] {
        width: 100%;
    }
 
}

@media(max-width:600px) {
    [class*="col-"] {
        width: 100%;
    }
  
}

@media(max-width:480px) {
    [class*="col-"] {
        width: 100%;
    }
  
}

@media(max-width:440px) {
    [class*="col-"] {
        width: 100%;
    }
 
}

@media(max-width:425px) {
    [class*="col-"] {
        width: 100%;
    }
    body{
        max-width: 100%;
        width : 100%;
    }
    .furniture-right img, #decor-image{
        width: 100%;
    }
    .list-menu,.info-and-language,.track,.middle-header,.end-of-header-1,.end-of-header-2,.funiture-left p:first-child span,.funiture-left p:nth-child(2) span,.furniture-right span,.decor-left span:last-child,.decor-right p:first-child span,.decor-right p:nth-child(2) span,.quality span:first-child,.complex-contain span:nth-child(1),.complex-contain span:nth-child(3),.complex-contain span:last-child,.about-left span{
        display: none;
    }
    .list-menu ul > li {
        display: block;
    }
    .list-menu ul > li > a{
        margin : 50px 50px;
    }
    .logo{
      margin-top: 80%;
      margin-left: 20%;

    }

  
    .funiture-left p:first-child, .funiture-left p:nth-child(2), .funiture-left a, .decor-right p:first-child , .about-left span:first-child, .about-right span:nth-child(3),.about-right span:first-child{
    margin-left: -200px;
    }

      /*FURNITURE SECTION*/
    .funiture-left a span {
        left: 30px;
        top: 195px;
        }
    /*DECOR SECTION*/
    .decor-right span{
        right : 0;
        left : 20px;
    }
    #decor-image{
        margin-left: 0;
    }
    .decor-right p:nth-child(2){
        margin-left: -100px;
        text-align: left;
    }
    .decor-right a{
        left: 20px;
    }
    
    /*COMPLEXITY SECTION*/
    .complex-contain{
        margin: 20px 0;
    }
    .complex-contain p:nth-child(2) {
        font-size: 40px;
       margin-left: 20px;
       margin-right: 0px;
       padding-right: 0px;
    }
    .complex-contain p:nth-child(4){
        margin-left: 25px;
        margin-right: 0px;
        padding-right: 45px;
    }
    .complex-contain #watch-video{
        margin-left: 20px;
        width: 250px;
    }
    /*QUALITY SECTION*/
    .quality .quality-section-button-play{
        left: 130px;
    }
    .fa-play{
        margin-left: 15px;
    }
    .quality .quality-section-image-dash{
        left: 150px;
    }
    /*ABOUT US*/

    .about-left img{
        width: 100%;
    }
    /*FOOTER*/
    footer {
        height: auto;
        width: 100%;
    }
    .logo-footer{
        display : block;
    }
    .logo-footer .spantext{
        margin-left: 20px;
    }
    .author{
        margin-left: -60px;
    }
  
}

@media(max-width:375px) {
    [class*="col-"] {
        width: 100%;
    }
    body{
        max-width: 100%;
        width : 100%;
    }
    .furniture-right img, #decor-image{
        width: 100%;
    }
    .list-menu,.info-and-language,.track,.middle-header,.end-of-header-1,.end-of-header-2,.funiture-left p:first-child span,.funiture-left p:nth-child(2) span,.furniture-right span,.decor-left span:last-child,.decor-right p:first-child span,.decor-right p:nth-child(2) span,.quality span:first-child,.complex-contain span:nth-child(1),.complex-contain span:nth-child(3),.complex-contain span:last-child,.about-left span{
        display: none;
    }
    .list-menu ul > li {
        display: block;
    }
    .list-menu ul > li > a{
        margin : 50px 50px;
    }
    .logo{
      margin-top: 80%;
      margin-left: 20%;

    }

  
    .funiture-left p:first-child, .funiture-left p:nth-child(2), .funiture-left a, .decor-right p:first-child , .about-left span:first-child, .about-right span:nth-child(3),.about-right span:first-child{
    margin-left: -200px;
    }

      /*FURNITURE SECTION*/
    .funiture-left a span {
        left: 30px;
        top: 195px;
        }
    /*DECOR SECTION*/
    .decor-right span{
        right : 0;
        left : 20px;
    }
    #decor-image{
        margin-left: 0;
    }
    .decor-right p:nth-child(2){
        margin-left: -100px;
        text-align: left;
    }
    .decor-right a{
        left: 20px;
    }
    
    /*COMPLEXITY SECTION*/
    .complex-contain{
        margin: 20px 0;
    }
    .complex-contain p:nth-child(2) {
        font-size: 40px;
       margin-left: 20px;
       margin-right: 0px;
       padding-right: 0px;
    }
    .complex-contain p:nth-child(4){
        margin-left: 25px;
        margin-right: 0px;
        padding-right: 45px;
    }
    .complex-contain #watch-video{
        margin-left: 20px;
        width: 250px;
    }
    /*QUALITY SECTION*/
    .quality .quality-section-button-play{
        left: 130px;
    }
    .fa-play{
        margin-left: 15px;
    }
    .quality .quality-section-image-dash{
        left: 150px;
    }
    /*ABOUT US*/

    .about-left img{
        width: 100%;
    }
    /*FOOTER*/
    footer {
        height: auto;
        width: 100%;
    }
    .logo-footer{
        display : block;
    }
    .logo-footer .spantext{
        margin-left: 20px;
    }
    .author{
        margin-left: -60px;
    }

}

@media(max-width:320px) {
    [class*="col-"] {
        width: 100%;
    }
    body{
        max-width: 100%;
        width : 100%;
    }
    .furniture-right img, #decor-image{
        width: 100%;
    }
    .list-menu,.info-and-language,.track,.middle-header,.end-of-header-1,.end-of-header-2,.funiture-left p:first-child span,.funiture-left p:nth-child(2) span,.furniture-right span,.decor-left span:last-child,.decor-right p:first-child span,.decor-right p:nth-child(2) span,.quality span:first-child,.complex-contain span:nth-child(1),.complex-contain span:nth-child(3),.complex-contain span:last-child,.about-left span{
        display: none;
    }
    .list-menu ul > li {
        display: block;
    }
    .list-menu ul > li > a{
        margin : 50px 50px;
    }
    .logo{
      margin-top: 80%;
      margin-left: 20%;

    }

  
    .funiture-left p:first-child, .funiture-left p:nth-child(2), .funiture-left a, .decor-right p:first-child , .about-left span:first-child, .about-right span:nth-child(3),.about-right span:first-child{
    margin-left: -200px;
    }

      /*FURNITURE SECTION*/
    .funiture-left a span {
        left: 30px;
        top: 195px;
        }
    /*DECOR SECTION*/
    .decor-right span{
        right : 0;
        left : 20px;
    }
    #decor-image{
        margin-left: 0;
    }
    .decor-right p:nth-child(2){
        margin-left: -100px;
        text-align: left;
    }
    .decor-right a{
        left: 20px;
    }
    
    /*COMPLEXITY SECTION*/
    .complex-contain{
        margin: 20px 0;
    }
    .complex-contain p:nth-child(2) {
        font-size: 40px;
       margin-left: 20px;
       margin-right: 0px;
       padding-right: 0px;
    }
    .complex-contain p:nth-child(4){
        margin-left: 25px;
        margin-right: 0px;
        padding-right: 45px;
    }
    .complex-contain #watch-video{
        margin-left: 20px;
        width: 250px;
    }
    /*QUALITY SECTION*/
    .quality .quality-section-button-play{
        left: 130px;
    }
    .fa-play{
        margin-left: 15px;
    }
    .quality .quality-section-image-dash{
        left: 150px;
    }
    /*ABOUT US*/

    .about-left img{
        width: 100%;
    }
    /*FOOTER*/
    footer {
        height: auto;
        width: 100%;
    }
    .logo-footer{
        display : block;
    }
    .logo-footer .spantext{
        margin-left: 20px;
    }
    .author{
        margin-left: -60px;
    }
}
